.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tags {
    display: flex;
    align-items: center;
}

.tag-item {
    padding: 5px 20px;
    margin-right: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 14px;
}

.tag-item:last-child {
    margin-right: 0;
}

.container {
    width: 100%;
    padding: 30px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.product {
    width: 32%;
    margin-right: 1%;
    background-image: url('./images/stub.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 8px 0 gray;
    margin-bottom: 10px;
}

.product:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.product-info {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    background: linear-gradient(to right, gray, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;

    width: 100%;
}

.price {
    color: greenyellow;
    font-weight: bold;
    text-shadow: 0 0 3px black;
}

.name {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sort-btn {
    cursor: pointer;
    text-decoration: underline;
    margin-right: 20px;
}

.modal-wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    position: relative;
    padding: 30px 20px;
    min-width: 200px;
    min-height: 250px;
}

#info {
    display: flex;
    align-items: flex-start;
}

.modal-img {
    width: 200px;
    margin-right: 20px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.info-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.close-modal {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: red;
    font-size: 35px;
    transform: rotate(45deg);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    width: 140px;
    height: 25px;
    background-color: lightgray;
    mask-image: url('images/star.svg');
    -webkit-mask-image: url('./images/star.svg');
}

.rating-progress {
    width: 50%;
    height: 25px;
    background-color: lime;
    mask-image: url('images/star.svg');
    -webkit-mask-image: url('./images/star.svg');
}

.dropdown {
    width: 170px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: none;
}

.dropdown-arrow {
    width: 30px;
    height: 30px;
    border-left: 1px solid black;
    position: relative;
}

.dropdown-arrow::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: black;
    left: 7px;
    top: 14px;
    transform: rotate(45deg);
}

.dropdown-arrow::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: black;
    right: 7px;
    top: 14px;
    transform: rotate(-45deg);
}

.dropdown-area {
    position: absolute;
    left: 0;
    top: 32px;
    box-shadow: 3px 3px 7px 0 rgba(0,0,0,.5);
    background-color: white;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .3s ease-out;
}

.dropdown:focus > .dropdown-area {
    height: 200px;
}

.area-row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
}

.area-row > span {
    margin-left: 10px;
}

.checkbox {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
}

.checkbox:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 2px;
    background-color: black;
    left: 2px;
    top: 2px;
    display: none;
}

.area-row > input:checked + .checkbox:after {
    display: block;
}

.area-row > input {
    display: none;
}

.dropdown-btn {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: gray;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 0;
    left: 0;
}